<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero===selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!--one way data binding-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>



















<!--<li *ngFor="let hero of heroes" (click)="onSelect(hero)">-->

<!--<ul class="heroes">-->
<!--<li *ngFor="let hero of heroes">-->
<!--<span class="badge">{{hero.id}}</span> {{hero.name}}-->
<!--</li>-->
<!--</ul>-->

<!--<h2>{{hero.name | uppercase}} Details</h2>-->
<!--<div><span>id:</span>{{hero.id}}</div>-->
<!--<div><span>name:</span>{{hero.name}}</div>-->

<!--<div>-->
<!--<label>name:-->
<!--&lt;!&ndash;angular's 2 way data binding syntax&ndash;&gt;-->
<!--<input [(ngModel)]="hero.name" placeholder="name">-->
<!--</label>-->
<!--</div>-->
