<p>sign-up</p>

<div class="sign-up" *ngIf="!signUpSuccessful">

  <form (ngSubmit)="onSignUp(signUpform)" #signUpform="ngForm">

    <p>
      <label>Username :</label>
      <input type="text" name="username" ngModel required>
    </p>

    <p>
      <label>Email :</label>
      <input type="email" name="userEmail" ngModel required>
    </p>

    <p>
      <label>Password :</label>
      <input type="password" name="userPassword" ngModel required>
    </p>

    <button type="submit">Sign Up</button>

  </form>

  <hr>

  <p>Confirm sign up</p>

  <form (ngSubmit)="confirm(confirmationForm)" #confirmationForm="ngForm">

    <p>
      <label>Username:</label>
      <input type="text" name="username" ngModel required>
    </p>

    <p>
      <label>Code:</label>
      <input type="text" name="code" ngModel required>
    </p>

    <button type="submit">Confirm</button>

  </form>

</div>
