<div class="panel panel-primary" *ngFor="let employee of employees">

  <div class="panel-heading">
    <h3 class="panel-title">{{employee.name}}</h3>
  </div>

  <div class="panel-body">

    <div class="col-xs-10">

      <div class="row">

        <div class="col-xs-4">
          <img [src]="employee.photoPath" alt="photoPath">
        </div>

        <div class="col-xs-4">

          <div class="row">
            <div class="col-xs-6">Gender</div>
            <div class="col-xs-6">: {{employee.gender}}</div>
          </div>

          <div class="row">
            <div class="col-xs-6">Email</div>
            <div class="col-xs-6">: {{employee.email}}</div>
          </div>

        </div>


      </div>

    </div>

  </div>

</div>
