<div class="sign-box">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h2 class="sign-box-title">Accept Request</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <hr class="title-diveder">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h2 class="sign-box-title2">SignUp To Request</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="sign-input-form">
        <form (ngSubmit)="onSubmit()" #usrForm="ngForm" id="signUp-form">
          <input type="text" class="sign-input" id="username" name="username" ngModel required placeholder="User Name" style="border-top:solid 1px #E5E5E4;">
          <input type="email" class="sign-input" id="email" name="email" ngModel required email placeholder="Email">
          <input type="password" class="sign-input" id="password" name="password" ngModel required placeholder="Password">
          <input type="password" class="sign-input" id="confirmPassword" name="confirmPassword" ngModel required placeholder="Confirm Password">
          <button class="submit-btn" type="submit" id="login-btn">SIGN UP</button>
        </form>
        <div class="loader" *ngIf="isLoading"></div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
