<div class="container">
  <h1>{{title}}</h1>

  <form (ngSubmit)="onSignIn()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="user.username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" name="password" required [(ngModel)]="user.password">
    </div>

    <button type="submit" class="btn btn-success">Sign In</button>
  </form>

  <br>
  Google sign in
  <div class="g-signin2" id="googleBtn">Sign In</div>
  <button (click)="googleSignOut()">Sign out</button>

  <br>
  <div (click)="callAuthHttp()">Call Auth  http</div>
  <br>
  <div (click)="callHttp()">Call http</div>
  <br>
  <div (click)="invokeLambda()">Call Lambda</div>
  <br>

  <button (click)="onSignOut()"  class="btn btn-success">Sign Out</button>

</div>
